student {display: block; margin-top:15px; color: blue; }
usn {display: block; color: maroon; font-size:16pt; }
name {display: block; color: green; font-size:12pt; }
college {display: block; color: green; font-size:12pt; }
branch {display: block; color: green; font-size:12pt;}
joindate {display: block; color: green; font-size:12pt; }
emailid {display: block; color: green; font-size:12pt; }
